[user]
    name            = Ben Pence
    email           = github@benpence.com

[color]
    branch          = auto
    diff            = auto
    interactive     = auto
    status          = auto
    ui              = auto

[alias]
    ; All commits in tree
    hist            = log --all --graph --pretty=format:'%C(yellow)%h%Creset %C(green)%cd%Creset%C(red)%d%Creset %s %C(magenta)%an <%ae>%Creset'     --date=short
    history         = log --all --graph --pretty=format:'%C(yellow)%h%Creset %C(green)%cd%Creset%C(red)%d%Creset %s %C(magenta)%an <%ae>%Creset%n%b' --date=iso --stat
    histref         = reflog -g         --pretty=format:'%C(yellow)%h%Creset %C(green)%gD%Creset %gs'                                                --date=iso

    ; Merge only remote changes that are harmless (https://stackoverflow.com/questions/15316601/in-what-cases-could-git-pull-be-harmful)
    up              = "!git remote update -p; git merge --ff-only @{u}"    


[push]
    ; Forces specifying the branch
    default         = nothing

[core]
    editor          = emacs -nw
    excludesfile    = ~/.gitignore

[merge]
    tool            = vimdiff
    ; Will only allow fast forward merges unless you specify "git merge --no-ff"
    ff              = only
