[user]
    name            = Ben Pence
    email           = github@benpence.com

[color]
    branch          = auto
    diff            = auto
    interactive     = auto
    status          = auto
    ui              = auto

[alias]
    ; All commits in tree
    hist            = log --all --graph --pretty=format:'%C(yellow)%h%Creset %C(green)%cd%Creset%C(red)%d%Creset %s %C(magenta)%an%Creset'   --date=short
    history         = log --all --graph --pretty=format:'%C(yellow)%h%Creset %C(green)%cd%Creset%C(red)%d%Creset %s %C(magenta)%an%Creset%n' --date=short --stat
    
    ; git fix                 # Open message file for writing
    ; git fix FILE1 FILE2     # Add changes to FILE1 and FILE2 to top commit
    ; git fix -a              # Add all changes in working copy to top commit
    fix             = commit --amend -C HEAD

[push]
    default         = matching

[core]
    excludesfile    = ~/.gitignore

[merge]
    tool            = vimdiff
